:root {
  --background-color: #fff;
  --text-color: #000;
  --accent-background-color: #edf1f6;
  --alternate-color: #deddda;
  --accent-color: #1a5fb4;
  --accent-text-color: #fff;
  --error-color: #c01c28;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #241f31;
    --text-color: #fff;
    --accent-background-color: #3d3846;
    --alternate-color: #5e5c64;
    --accent-color: #99c1f1;
    --accent-text-color: #241f31;
    --error-color: #f66151;
  }
}

body,
button,
input {
  font-family: system-ui, sans-serif;
}

html {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--alternate-color) var(--background-color);
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  accent-color: var(--accent-color);
}

main {
  max-width: min(100%, 500px);
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
}

::selection {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 1rem 0;
}

h1 {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

a,
a:visited {
  color: var(--accent-color);
}

h1 > a, h1 > a:visited {
  color: var(--text-color);
  text-decoration: none;
}

h1 > a:hover {
  text-decoration: underline;
}

table {
  border-spacing: 0;
}

th, td {
  border: 1px solid var(--alternate-color);
  padding: 0.5rem;
  border-width: 0 1px 1px 0;
}

tr:nth-child(even) {
  background-color: var(--accent-background-color);
}

th {
  font-weight: bold;
  background-color: var(--accent-background-color);
  border-top-width: 1px;
}

th:first-child, td:first-child {
    border-left-width: 1px;
}

header {
  width: 100%;
  background-color: var(--accent-background-color);
  border-bottom: var(--alternate-color) solid 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
}

header > nav {
  display: flex;
  align-content: center;
  gap: 0 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

header > nav > a {
  cursor: pointer;
}

header > nav > a,
header > nav > a:visited {
  color: var(--text-color);
  border-radius: 6px;
  padding: 0.75rem;
  border: none;
  box-sizing: border-box;
  margin: 0.75rem 0;
  display: block;
  background-color: transparent;
  border: 2px solid var(--alternate-color);
  text-decoration: none;
}

header > nav > a:hover,
header > nav > a:visited:hover {
  filter: none;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

header > nav > a.current,
header > nav > a.current:visited {
  color: var(--accent-color);
}

header > nav > a.current {
  border: 2px solid var(--accent-color);
}
