@import "common.css";

h1 > img {
  height: 1.5rem;
  margin-right: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  h1 > img {
    filter: invert();
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
}

button,
input,
select {
  color: var(--text-color);
  border-radius: 6px;
  padding: 0.75rem;
  border: none;
  box-sizing: border-box;
  margin: 0.75rem 0;
  display: block;
}

input[type="checkbox"] {
  display: inline;
  margin-left: 0.5rem;
  width: auto;
}

button {
  color: var(--text-color);
  background-color: var(--accent-background-color);
  border: 2px solid var(--alternate-color);
  width: 100%;
}

main details > ul > li > button {
  grid-row: 2;
}

button:focus {
  outline: 2px solid var(--alternate-color);
}

dialog > button:nth-last-child(1) {
  float: right;
}

main > details > ul > li > button:hover {
  filter: none;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

input,
select {
  background-color: transparent;
  border: 2px solid var(--alternate-color);
  width: 100%;
}

button,
summary {
  cursor: pointer;
}

input:focus,
select:focus {
  outline: 1px solid var(--accent-color);
  border-color: var(--accent-color);
}

dialog[open] {
  display: grid;
  column-gap: 6px;
}

dialog > label {
  grid-column: span 2;
}

dialog > label > ul > li > label > input {
  display: inline;
  margin-right: 0.5rem;
}

input:invalid {
  outline: 1px solid var(--error-color);
  border-color: var(--error-color);
}

button:hover:not(:disabled) {
  outline: 2px solid var(--accent-color);
}

dialog {
  border: 1px solid var(--alternate-color);
  border-radius: 6px;
  width: 500px;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 100%;
  box-sizing: border-box;
  padding: 36px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 40%);
}

details {
  background-color: var(--accent-background-color);
  padding: 1rem;
  border: 1px solid var(--alternate-color);
  border-radius: 6px;
}

dialog > button:nth-last-child(1),
dialog > button:nth-last-child(2) {
  grid-row-start: 99;
}

main details {
  margin: 1rem 0;
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

main > div > details > summary {
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

main > div > details > summary::before {
  content: "▸";
  margin-right: 6px;
}

main > div > details[open] > summary::before {
  content: "▾";
}

main details > summary > details {
  padding: 0;
  margin: 0;
  border: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: initial;
}

main details > summary > details > summary {
  background-color: var(--text-color);
  color: var(--background-color);
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  font-weight: 900;
  border-radius: 99rem;
  user-select: none;
}

main details var {
  font-style: normal;
  font-family: monospace;
  font-size: x-small;
}

main details > summary > details[open] > summary {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

main details > summary > details > summary::marker {
  content: "";
}

main details > summary > details > div {
  position: absolute;
  background-color: var(--background-color);
  right: 0;
  margin: 0.5rem;
  border: 1px solid var(--alternate-color);
  border-radius: 6px;
  padding: 0.5rem;
  z-index: 1;
  font-size: 1rem;
}

main details > ul {
  margin: 0;
  padding: 0;
}

main details > ul > li {
  list-style: none;
  margin: 0.5rem 0;
  display: grid;
  column-gap: 6px;
}

main details > ul > li > dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 0.25rem;
  grid-column: span 2;
  align-self: center;
}

dd {
  margin: 0;
}

main details > ul > li > dl > dd {
  align-self: dd;
}

dialog > label > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt::after {
  content: ": ";
}

dialog > label > .interval > input {
  display: inline;
  width: 6rem;
}

dialog > label > .interval > input:first-child {
  margin-right: 0.5rem;
}

dialog > label > .interval > input:last-child {
  margin-left: 0.5rem;
}

.spinner {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  border: 8px solid var(--accent-color);
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--accent-color) transparent transparent transparent;
}

.spinner + p {
  text-align: center;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
